---
title: 2207 - Fat Fingers - Interior Design
description: Description
layout: custom
permalink: /rooms/

page-short-title: Помещения
---
<main class="flex-stack">
    <header>
        {% include breadcrumbs.html %}
        <h1>Помещения</h1>
    </header>
    <div class="project-wrapper">
        <section class="project-plans flex-stack">
            {% include_relative plan1.svg %}
        </section>
        
        <section class="project-tables center">
            <div class="flex-stack">
                <h2>1-й этаж</h2>
                <ol class="menu">
                    <li><a class="link area-link" data-area="1" href="#">Прихожая</a></li>
                    <li><a class="link area-link" data-area="2" href="#">Бойлерная</a></li>
                    <li><a class="link area-link" data-area="3" href="#">Холл</a></li>
                    <li><a class="link area-link" data-area="4" href="/rooms/01-04-sanuzel">Санузел</a></li>
                    <li><a class="link area-link" data-area="5" href="#">Гостиная</a></li>
                    <li><a class="link area-link" data-area="6" href="#">Кухня</a></li>
                    <li><a class="link area-link" data-area="7" href="#">Спальня</a></li>
                    <li><a class="link area-link" data-area="8" href="#">Терраса</a></li>
                    <li><a class="link area-link" data-area="9" href="#">Крыльцо</a></li>
                </ul>
            </div>
        </section>
        <section class="project-plans flex-stack">
            {% include_relative plan2.svg %}
        </section>
        
        <section class="project-tables center">
            <div class="flex-stack">
                <h2>2-й этаж</h2>
                <ol class="menu" start="10">
                    <li><a class="link area-link" data-area="10" href="#">Холл</a></li>
                    <li><a class="link area-link" data-area="11" href="#">Санузел</a></li>
                    <li><a class="link area-link" data-area="12" href="#">Постирочная</a></li>
                    <li><a class="link area-link" data-area="13" href="#">Мастер спальня</a></li>
                    <li><a class="link area-link" data-area="14" href="#">Мастер гардеробная</a></li>
                    <li><a class="link area-link" data-area="15" href="#">Детская</a></li>
                    <li><a class="link area-link" data-area="16" href="#">Детская гардеробная</a></li>
                    <li><a class="link area-link" data-area="17" href="#">Мастерская</a></li>
                </ul>
            </div>
        </section>
    </div>
    
</main>