<!DOCTYPE html>
<html lang="ru">
    {% include head.html %}
    <body class="is-loading">
        {% include custom_header.html %}
        {% include custom_nav.html %}
            <main class="flex-stack">
            <header class="stack">
                {% include breadcrumbs.html %}
                <h1>{{ page.name }}</h1>
            </header>
            <div class="project-wrapper">
                <section class="project-plans flex-stack">
                    {%- assign flag = 0 -%}
                    {%- for f in site.collections[1].files -%}
                        {%- if f.name == page.dxf -%}
                            {%- assign flag = 1 -%}
                            {%- break -%}
                        {%- endif -%}
                    {%- endfor -%}
                    {%- if flag == 1 -%}
                        {% include_relative {{page.dxf}} %}
                    {%- else -%}
                        {% include_relative 01-04-sanuzel_plan.svg %}
                    {%- endif -%}
                </section>
                <section class="project-tables">
                    <div class="stack">
                        {%- for data in page.head -%}
                            <h3>{{ data.name }}</h3>
                            {%- for value in data.value -%}
                                <p>{{ value }}</p>
                            {%- endfor -%}
                        {%- endfor -%}
                    </div>
                </section>
            </div>
            {%- for data_block in page.data -%}
                <section class="stack">
                    <h2>{{ data_block.id }}</h2>
                    {%- assign size = data_block.content | size -%}
                    <div class="items product{% if size > 4 %} small{%- endif -%}">
                        {%- for block in data_block.content -%}
                            <a
                                href={{ block.url }}
                                class="item"
                                target="_blank"
                                rel="nofollow">
                                <img
                                    width="1600"
                                    height="1600"
                                    src="{%- if block.pic == 'empty' -%}/icon-512.png{%- else -%}{{ block.pic }}{%- endif -%}" />
                                <h2 class="link">{{ block.name }}</h2>
                            </a>
                        {%- endfor -%}
                    </div>
                </section>
            {%- endfor -%}
            <section class="stack">
                <h2>Визуализации</h2>
                {%- assign name = page.url | split: '/' | last -%}
                <div class="gallery">
                    <div class="gitem">
                        <img
                            src="/images/gallery/{{ name }}-pic-1.png">
                    </div>
                    <div class="gitem">
                        <img
                            src="/images/gallery/{{ name }}-pic-2.png">
                    </div>
                </div>
                <div class="gallery">
                    <div class="gitem">
                        <img
                            src="/images/gallery/{{ name }}-pic-3.png">
                    </div>
                    <div class="gitem">
                        <img
                            src="/images/gallery/{{ name }}-pic-4.png">
                    </div>
                </div>
                <div class="gallery">
                    <div class="gitem">
                        <img
                            src="/images/gallery/{{ name }}-pic-1_.png">
                    </div>
                    <div class="gitem">
                        <img
                            src="/images/gallery/{{ name }}-pic-2_.png">
                    </div>
                </div>
                <div class="gallery">
                    <div class="gitem">
                        <img
                            src="/images/gallery/{{ name }}-pic-3_.png">
                    </div>
                    <div class="gitem">
                        <img
                            src="/images/gallery/{{ name }}-pic-4_.png">
                    </div>
                </div>
                <div class="gallery">
                    <div class="gitem">
                        <img
                            src="/images/gallery/{{ name }}-pic-1__.jpg">
                    </div>
                    <div class="gitem">
                        <img
                            src="/images/gallery/{{ name }}-pic-2__.jpg">
                    </div>
                </div>
                <div class="gallery">
                    <div class="gitem">
                        <img
                            src="/images/gallery/{{ name }}-pic-3__.jpg">
                    </div>
                    <div class="gitem">
                        <img
                            src="/images/gallery/{{ name }}-pic-4__.jpg">
                    </div>
                </div>
                {%- if page.six -%}
                <div class="gallery">
                    <div class="gitem">
                        <img
                            src="/images/gallery/{{ name }}-pic-5.png">
                    </div>
                    <div class="gitem">
                        <img
                            src="/images/gallery/{{ name }}-pic-6.png">
                    </div>
                </div>
                {%- endif -%}
            </section>
        </main>
        {%- unless page.nofooter -%}
            {% include footer.html %}{%- endunless -%}
        {% include scripts.html %}</body>
        </body>
    </body>
</html>